<div style="background-color: #dcb8b8; padding: 50px">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div style="height: 100vh; border: 2px solid grey" fxFlex="30">
      <p style="text-align: center">Online users</p>
      <ul>
        <li *ngFor="let name of displayNameArray">{{ name }}</li>
      </ul>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around" fxFlex="65">
      <div style="border: 2px solid grey; padding: 10px; margin-bottom: 20px">
        <p style="text-align: center">Chat</p>
        <div *ngFor="let message of messagesArray">
          <p><b>{{ message.user.displayName }}: </b>{{ message.text }}</p>
        </div>
      </div>
      <form (ngSubmit)="sendMessage()">
        <mat-form-field appearance="outline" style="margin-right: 20px">
          <input
            type="text"
            name="messageText"
            matInput

            [(ngModel)]="messageText"
          />
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Send</button>
      </form>
    </div>
  </div>
</div>


