<div>
  <mat-toolbar style="background-color: #5e5d5d">
    <nav *appUserType="'user' else anonMenu" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%">
      <div fxFlex="50">
        <a mat-button routerLink="/chat">CHAT</a>
      </div>
      <div>
        <span style="margin-right: 20px">Welcome, {{ (user | async)?.displayName }} |</span>
        <button mat-raised-button (click)="logout()">Logout</button>
      </div>
    </nav>
  </mat-toolbar>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<ng-template #anonMenu>
  <nav>
    <p>Welcome to users chat! Register or login to enter</p>
  </nav>
</ng-template>
