<div class="bgImageDiv">
  <app-centered-card title="Register form">
    <form
      #f="ngForm"
      fxLayout="column"
      autocomplete="off"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email" name="email" autocomplete="username"
          email required matInput ngModel #email="ngModel"
        />
        <mat-error *ngIf="email.touched && email.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="email.touched && email.hasError('email')">
          Enter correct email!
        </mat-error>
        <mat-error *ngIf="email.touched && email.hasError('serverError')">
          {{ email.getError('serverError') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password" name="password" autocomplete="new-password"
          required matInput ngModel #password="ngModel"
        />
        <mat-error *ngIf="password.touched && password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Display name</mat-label>
        <input
          type="text" name="displayName"
          required matInput ngModel #displayName="ngModel"
        />
        <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
          Display name is required
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 16px">
        <a routerLink="/login">Already have an account? Then login!</a>

      </div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid || (loading | async)"
      >
        REGISTER
      </button>
    </form>
  </app-centered-card>
</div>

